
body {
    background-color: #f369b5;
    color: rgb(0, 0, 0);
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #ab2dff;
    color: rgb(240, 220, 46);
    font-family: "Bai Jamjuree", sans-serif;
}